@{
    bool isAuthenticated = Context.User.Identity?.IsAuthenticated ?? false;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASP_Starbucks</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/signin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASP_Starbucks.styles.css" asp-append-version="true" />

    @* header font - FiraMono *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap" rel="stylesheet">

    @* Quck sand font *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom border-2 mb-3 py-lg-4 px-lg-4 pe-lg-5">
            <div class="container-fluid d-flex justify-content-start">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://upload.wikimedia.org/wikipedia/sco/thumb/d/d3/Starbucks_Corporation_Logo_2011.svg/297px-Starbucks_Corporation_Logo_2011.svg.png?20170312192423" alt="starbucks logo" style="width: 3rem" />
                </a>

                @if (!(ViewData["isWindowOpened"] as bool? == true))
                {
                    <div class="f-dlex justify-content-between align-items-center w-100">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Menu">Menu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Rewards">Rewards</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GiftCards">Gift cards</a>
                                </li>
                            </ul>

                            <div class="d-flex align-items-center gap-4">
                                <div>
                                    Find a store
                                </div>

                                @if (isAuthenticated)
                                {
                                    <div>Account</div>
                                }
                                else
                                {
                                    <div id="authContainer" class="d-flex align-items-center gap-3">
                                        @* sign in button *@
                                        <a class="btn btn-outline-dark border-1 rounded-pill py-1" asp-area="" asp-controller="Account" asp-action="SignIn">Sign in</a>

                                        @* sign up button *@
                                        <a asp-controller="Account" asp-action="Create" class="btn btn-dark border-1 rounded-pill py-1">Join now</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ASP_Starbucks - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/signin.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
