@model ASP_Starbucks.Models.Account.UserProfileViewModel;

@{
    ViewData["Title"] = "SignIn";
}
<div class="row d-flex flex-column align-items-center gap-lg-5 mt-5">
    <div class="text-center col">
        <h3 class="fw-bold fs-2" style="font-family: 'Quicksand', sans-serif">Sign in or create account</h3>
    </div>

    <div class="col border p-4 d-flex flex-column align-items-start gap-lg-4 rounded-3 box-shadow shadow gap-3" style="width: fit-content">
        <h6>
            * indicates required field
        </h6>

        <form id="auth-form" class="d-flex flex-column gap-3" method="post" novalidate class="needs-validation">
            <div class="form-floating mb-3 fs-5 rounded-cirlce" id="user-name-email">
                <input type="text" class="form-control shadow-none fs-5 py-0" id="floatingLogin" placeholder=""
                       required
                       name="user-name-email">
                <label id="floatingLoginLabel" for="floatingLogin">* Username or email address</label>

                <div class="invalid-feedback ps-2 fs-6 gap-1 align-items-center" id="loginValidation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-octagon-fill" viewBox="0 0 16 16">
                        <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708" />
                    </svg>
                    Enter an email/username.
                </div>
            </div>
            <div class="form-floating mb-3 fs-5 rounded-cirlce" id="password">
                <input type="password" class="form-control shadow-none fs-5 py-0" id="floatingPassword" placeholder=""
                       required
                       name="user-password">
                <label id="floatingPasswordLabel" for="floatingPassword">* Password</label>

                <div class="invalid-feedback ps-2 fs-6 gap-1 align-items-center" id="passValidation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-octagon-fill" viewBox="0 0 16 16">
                        <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708" />
                    </svg>

                    Enter a password.
                </div>
            </div>

            <div class="form-check d-flex gap-2 align-items-center">
                <input class="form-check-input shadow-none" type="checkbox" value="" id="checkChecked" checked>
                <label class="form-check-label" for="checkChecked">
                    Keep me signed in.
                </label>
                <span id="details" class="fw-bold text-decoration-underline user-select-none" role="button" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="content">
                    Details
                </span>
            </div>
        </form>

        <div class="d-flex flex-column gap-2">
            <div id="forgot-username" class="fw-bold text-decoration-underline user-select-none" role="button" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="content">
                Forgot your username?
            </div>
            <a id="forgot-password" class="fw-bold text-decoration-underline user-select-none" asp-controller="Account" asp-action="ForgotPassword">
                Forgot your password?
            </a>
        </div>

        <button class="btn btn-success rounded-pill fs-5 fw-bold p-3 px-4 shadow" id="submit-btn"
                form="auth-form">
            Sign in
        </button>
    </div>

    <div class="d-flex flex-column align-items-center mt-5">
        <h6 class="text-uppercase fw-bold" style="color: #00754A; letter-spacing: 0.10rem">
            Join Starbucks® Rewards
        </h6>
        <p class="text-center" style="width: 23rem; font-weight: 500; color: #212121">
            As a member, start earning free food and drinks, unlock our best offers and celebrate your birthday with a treat from us. Best of all, it's free to join.
        </p>
        <a asp-controller="Account" asp-action="Create" id="sign-up" class="btn btn-outline-success border-1 rounded-pill py-1 fw-bold">Join now</a>
    </div>
</div>
