html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.navbar-nav {
    font-family: "Fira Mono", monospace;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#authContainer a {
    white-space: nowrap;
    font-weight: 500;
    transition: 0.3s;
    box-shadow: none;
}

    #authContainer a:active {
        scale: 0.95;
    }

.btn-dark {
    --bs-btn-bg: #000000;
    color: #FFF !important;
}

.btn-outline-dark {
    --bs-btn-hover-bg: #e5e5e5;
    --bs-btn-hover-color: #000;
    --bs-btn-active-bg: #e5e5e5;
    --bs-btn-active-color: #000;
}

.navbar-nav > li > a {
    transition: none;
}

.navbar-nav > li > a:hover {
    color: #00704A !important;
}

#find-store:hover {
    color: #00754A !important;
}

#account-dropdown {
    transform: translate(-45px, 38px);
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 1;
}

#animated-chevron {
    display: block;
}

    #animated-chevron.open {
        animation: open-nav 0.2s linear forwards;
    }

    #animated-chevron.close {
        animation: close-nav 0.2s linear forwards;
    }

@keyframes open-nav {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes close-nav {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#account-dropdown li a {
    color: black;
    padding: 20px 30px;
}

#account-dropdown li a:hover {
    background-color: #FFF;
}